[user]
	email = ahuh@atxnetworks.com
	name = Andrew Huh
[alias]
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ld = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
	lgc = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
	lg = log --decorate --graph 	
    la = log --decorate --graph --all
    st = status
    aa = add --all    
    dtu = difftool  
    dts = difftool --cached
    dta = difftool HEAD
    du  = diff 
    ds  = diff --cached
    da  = diff HEAD 
    smu = submodule update --recursive --init 
    cm  = commit -m 
    ci = commit -v
    co = checkout
    br = branch
[push]
	default = simple
[diff]
	tool = meld
[merge]
	tool = meld
[core]
	excludesfile = /home/ahuh/.gitignore_global
	autocrlf = false
[mergetool]
	prompt = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
